


/* CSS Document */


.dados > reminder-form {
	width: 400px;
	margin: 50px auto;
}

.reminder .control-label {
	width: 100px;
}

.reminder .controls {
  margin-left: 110px;
}

.inicio{
	
	margin-left: 110 px;
}
.form{
	width: 67px;
}

centralizar{
	position: center;
	font-size: 40cm;
}