


/* CSS Document */






body{
    padding: 10px
}
.center-component{
    float: none;
    margin: 0 auto; 
}
.btn-add{
    position: relative;
    top: 0px;
}



.form-group{
 width: 85%;   
}
.form-inline{
     width: auto;
    left-aligned;
    incline-block;
    
}